<div class="content-element page-hero">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'heading' -%}
        <h2 class="max-w-md font-heading text-display font-heading-weight" {{ block.shopify_attributes }}>
          <span>{{ block.settings.heading | escape }}</span>
        </h2>
      {%- when 'text' -%}
        <div class="max-w-prose-narrow text-lead font-body-weight-bold" {{ block.shopify_attributes }}>
          <span>{{ block.settings.text | escape }}</span>
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Page hero",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "First image"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Fermentum",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Nullam Sollicitudin",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page hero",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
