html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

main {
    flex: 1 1 auto;
    min-height: 1px;
    padding-top: 4rem;
}